PORT=3000
BOT_TOKEN=PUT_YOUR_BOTFATHER_TOKEN_HERE
ADMIN_IDS=123456789,987654321
WEBAPP_URL=https://your-railway-domain.up.railway.app
SUPPORT_URL=https://t.me/Mayki_UC_manager
CHANNEL_URL=https://t.me/Mayki_uc_shop
